.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
inst/doc

inst/extdata/elect/Mozambique_set_prplit_conf90_sy_2019.tif
inst/extdata/elect/Mozambique_set_lightscore_sy_2019.tif
inst/extdata/elect/Mozambique_set_zscore_sy_2019.tif
inst/extdata/elect/Mozambique_rade9lnmu_2019.tif

inst/extdata/informal_envir.Rdata

data/maputoprojimage.RData
